.block_ludifica {
    background: url('[[pix:theme|block_ludifica/back_home_desktop]]') no-repeat center center;
    background-size: cover;

    .ludifica_ranking {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 70px;
        padding-right: 15px;

        > .ranking_decoration {
            min-width: 225px;
            min-height: 234px;
            margin-top: 50px;
            display: block;
            background: url('[[pix:theme|block_ludifica/ranking]]') no-repeat center center;
            position: absolute;
            top: 0;
            right: 70%;
            z-index: 1;
        }

        .table_container {
            background-color: rgba(20, 16, 84, 0.75);
            border-radius: 40px;
            border: 1px solid #0ff;
            max-width: 900px;
            width: 100%;
            min-width: 290px;
            margin-left: 225px;
            padding: 10px 40px 10px 70px;

            .generaltable {
                color: #fff;

                th {
                    color: #1ffff2;
                    font-weight: bold;
                    font-size: 13px;
                    padding: 5px;
                    text-align: center;
                    border-top: 0;

                    &:nth-child(2) {
                        font-size: 24px;
                        text-align: left;
                    }
                }

                tr {

                    &:hover {

                        td {
                            color: #1ffff2;
                        }
                    }

                    td {
                        padding: 5px;

                        &:first-child {
                            text-align: center;
                            font-weight: bold;
                        }

                        &:last-child {
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                }

                .current-user {
                    background: none !important;

                    &:hover {

                        td {
                            color: #fff;
                        }
                    }

                    td {
                        background-color: #ffbd70 !important;
                        color: #9e0045;
                        font-weight: bold;
                        border-top: 0;

                        &:first-child {
                            border-radius: 15px 0 0 15px;
                        }

                        &:last-child {
                            border-radius: 0 15px 15px 0;
                        }
                    }
                }

                .current-user + tr {
                    td {
                        border-top: 0;
                    }
                }
            }

            .ludifica_help {
                margin: auto;
                display: block;
            }
        }
    }

    .tab-profile {

        .player_info {
            position: relative;
            margin-bottom: 60px;

            .detailscol {
                width: 90%;
                margin: auto;

                .nickname-box {
                    background-color: #fff;
                    border-radius: 20px;
                    padding: 10px 30px;
                    color: #563da0;

                    .profiledescription {
                        max-height: 250px;
                        overflow: auto;
                    }

                    h2 {
                        font-size: 25px;
                        text-align: center;
                        color: #563da0;

                        input {
                            width: 100%;
                            max-width: 200px;
                        }
                    }
                }

                .tickets-box,
                .badges-box {
                    margin-top: 20px;

                    h3 {
                        background-color: #00ffe5;
                        font-size: 16px;
                        color: #4020b0;
                        font-weight: 600;
                        text-align: center;
                        padding: 5px;
                        display: block;
                    }

                    > div {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        max-width: 322px;

                        .oneticket-container,
                        .onebadge-container {
                            position: relative;

                            .oneticket,
                            .onebadge {
                                background-color: #00ffe5;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center center;
                                font-weight: bold;
                                font-size: 13px;
                                color: #fff;
                                border-radius: 15px;
                                border: 1px solid #00ffe5;
                            }

                            .onebadge {
                                background-color: #00ffe500;
                                border: 0;
                                filter: drop-shadow(0 0 5px #00ffe5);
                            }

                            .count {
                                background-color: #dc476c;
                                font-weight: bold;
                                font-size: 13px;
                                color: #fff;
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .ludifica_help {
                    color: #3d33a3;
                }
            }
        }

        .general-buttons {

            .home-button {
                filter: grayscale(1);
                pointer-events: none;

            }
        }
    }

    .card-body {
        padding: 0 !important;
    }

    .card-text {
        margin: 0 !important;
    }

    .card-title {
        color: #00ffe5;
        font-size: 20px;
    }

    .block_ludifica-tabs i {
        color: #fff;
    }

    .block_ludifica-tabs .active i {
        color: #3d33a3;
    }

    .tab-topbysite {

        .general-buttons {

            .ranking_site-button {
                filter: grayscale(1);
                pointer-events: none;
            }
        }
    }

    .tab-lastmonth {

        .general-buttons {

            .ranking_last-button {
                filter: grayscale(1);
                pointer-events: none;
            }
        }
    }

    .tab-dynamichelps {

        .general-buttons {

            .dynamichelp-button {
                filter: grayscale(1);
                pointer-events: none;
            }
        }
    }

    .nottopyet {
        text-align: center;
        color: #fff;
        margin-top: 117px;
    }

    .pointsinfo {
        background: none;
        padding: 50px 10px;
        margin-bottom: 50px;

        .list-group-item {
            background: none;
        }

        .card-header {
            color: #fff;
            border-bottom: none;
        }

        .icon {
            font-size: 1.5em;
        }
    }

    .pointsinfo li,
    .pointsinfo b {
        color: #fff !important;
    }

    .pointsinfo > div {
        background-color: rgba(15, 28, 55, 0.6);
        box-shadow: 0 0 15px 0 #00ffe5;
        border: 1px solid #7bfae3;
        border-radius: 20px;
        margin: 50px 10px;
    }

    .pointsinfo h3,
    .pointsinfo i,
    .pointsinfo h4,
    .pointsinfo strong {
        color: #7bfae3;
        margin-top: 0;
    }

    .pointsinfo .fa-stack .fa-scale {
        color: #4020a0;
    }
}

.notavailableyet {
    color: #fff;
}

.modal-content {

    .modal-header {

        .close {
            z-index: 1;
        }
    }

    .pointsinfo {
        background: none;

        > div {
            background: #f7f7f7;

            &:first-child {
                margin: 0;
            }

            &:last-child {
                margin: 15px 0 0 0;
            }

            h3 {
                margin-bottom: 15px;
            }
        }
    }
}

.ludifica_help {
    color: #fff;
}

.block_ludifica-tabs {
    display: none;
}

.general-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    a {
        background: rgba(15, 28, 55, 0.6) url('[[pix:theme|block_ludifica/sprite_icons]]') no-repeat;
        text-align: center;
        padding: 40px 10px 0;
        border: 1px solid #7bfae3;
        border-radius: 20px;
        width: 70px;
        font-size: 12px;
        color: #7bfae3;
        margin: 0 10px;
        cursor: pointer;

        &:hover {
            filter: grayscale(1);
        }
    }

    .ranking_buttons {
        width: 106px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 15px;
        padding: 5px 5px 0 5px;
        margin: 0 -10px;
    }

    .ranking_buttons {

        a {
            display: none;
            margin: 3px;
            word-wrap: normal;
        }

        a:last-child {
            background-position: -483px 5px;
            display: block;
            color: #7bfae3;
        }

        .ranking_site-button {
            background-position: -483px 5px;

        }

        .ranking_last-button {
            background-position: -472px 5px;
            width: 100px;
        }

        .ranking_course-button {
            background-position: -483px 5px;
        }

        &:hover a {
            display: block;
        }

        &:hover a:last-child {
            display: block;
            filter: grayscale(1);
        }

        &:hover {
            background: linear-gradient(180deg, rgba(15, 28, 55, 0.90) 60%, rgba(15, 28, 55, 0) 100%);
            position: relative;
            z-index: 1;
            mix-blend-mode: exclusion;
        }
    }

    .home-button {
        background-position: -34px 5px;
        width: 56px;
    }

    .avatars-button {
        background-position: -192px 5px;
        width: 80px;
    }

    .store-button {
        background-position: -258px 5px;
        width: 64px;
    }

    .dynamichelp-button {
        background-position: 12px 5px;
        width: 62px;
    }

    .badges-button {
        background-position: -430px 5px;
        width: 62px;
    }

}

.block_ludifica-tabcontent {
    min-height: 380px;
}

.tab-topbycourse {

    .general-buttons {

        .ranking_course-button {
            filter: grayscale(1);
            pointer-events: none;

        }
    }
}

.block_with_controls {

    .block_ludifica-tabs {
        display: flex;
    }

    .playerstats {
        margin-top: 38px;
    }
    .block-controls {
        background-color: white;
        padding: 5px;
    }

    .avatar-box {
        margin-top: 90px !important;
    }

    .ranking_decoration {
        margin-top: 130px !important;
    }

    .tab-profile {

        .player_info {
            margin-bottom: 129px;
        }
    }
}

@media (max-width: 1250px) {

    .pointsinfo > div:first-child {
        margin: 50px 10px -15px 10px;
    }

    .drawer-open-left,
    .drawer-open-right {

        .block_ludifica {

            .ludifica_ranking {
                margin-top: 90px;
                margin-bottom: 145px;

                .table_container {
                    margin: auto;
                    margin-top: 230px;
                    max-width: 90%;
                }

                > .ranking_decoration {
                    width: 100%;
                    right: 0;
                    margin-top: 90px;
                }
            }

            .tab-profile {

                .player_info {
                    margin-bottom: 129px;
                }
            }
        }
    }
}

[data-region="blocks-column"] {
    .block_ludifica {

        .ludifica_ranking {
            margin-bottom: 130px;

            .table_container {
                margin: auto;
                margin-top: 255px;
                margin-bottom: 23px;
                max-width: 100%;
            }

            > .ranking_decoration {
                margin-left: -15px;
                margin-top: 92px;
                left: 15px;
                right: 0;
            }

            .generaltable {
                margin-left: -15px;
            }
        }

        .general-buttons {

            a {
                margin: 3px;
            }

            .home-button {
                display: inline-block;
                width: 60px;
                background-position: -32px 5px;
            }
        }

        .avatar-box {
            margin-top: 82px;
            margin-bottom: 17px;
        }

        .tab-profile {

            .player_info {
                margin-bottom: 129px;
                min-width: 259px;
            }
        }

        .pointsinfo {

            > div {

                &:last-child {
                    margin-top: -40px;
                }
            }
        }
    }
}

.pointsinfo {

    > div {
        margin: 5px;
    }

    .fa-stack {
        margin-right: 37px;
        width: 20px;

        .mt6 {
            margin-top: 6px;
            left: 8px;
        }

        .fa-scale {
            margin-top: -14px;
            transform: scale(1, 0.4);
            left: 8px;
        }

        .fa-levelup {
            left: 29px;
            top: -5px;
        }
    }

    strong {
        color: #3d33a3;
    }

    .rounded-pill {
        color: #fff;
    }

    .card-header {
        background: none;
    }
}

#block_ludifica-tickets,
#block_ludifica-store,
#block_ludifica-badges {
    display: flex;
    padding: 40px;
    justify-content: space-between;

    .playerstats {
        top: 13px !important;
        right: 37px !important;
    }

    #tabs-box {
        background-size: cover;
        width: 429px;
        min-width: 429px;
        height: 415px;
        position: relative;
        padding: 50px 100px;

        &::before {
            background: url('[[pix:theme|block_ludifica/store]]') no-repeat center top;
            content: "";
            position: absolute;
            width: 429px;
            height: 80px;
            top: 0;
            left: 0;
        }

        &::after {
            background: url('[[pix:theme|block_ludifica/store]]') no-repeat center bottom;
            content: "";
            position: absolute;
            width: 429px;
            height: 180px;
            bottom: 0;
            left: 0;
        }

        .store-tabs {
            display: flex;
            flex-direction: column;
            background-color: rgba(15, 28, 55, 0.6);
            text-align: center;
            padding: 40px 30px 0;
            border: 1px solid #fff;
            height: 250px;
            max-width: 237px;

            h5 {
                font-weight: bold;
                font-size: 35px;
                color: #fff;
                margin-top: 10px;
                border-bottom: 1px solid #fff;
                text-transform: uppercase;
            }

            > a {
                font-size: 12px;
                border-radius: 15px;
                color: #fff;
                border: 1px solid #fff;
                background-color: transparent;
                margin-top: 5px;
                width: 70%;
                text-align: left;
                padding: 3px 0 3px 20px;
                transition: all .2s ease-in-out;

                &:hover,
                &.active {
                    color: #4020a0;
                    border: 1px solid #7bfae3;
                    background-color: #7bfae3;
                    width: 100%;
                    font-weight: bold;
                    text-decoration: none;
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }

    #tickets-box,
    #avatars-box,
    #badges-box {
        position: relative;
        margin-left: 20px;
        margin-bottom: 40px;
        padding-left: 20px;
        flex-grow: 2;
        margin-top: 40px;

        &::after {
            content: "";
            position: absolute;
            left: -20px;
            top: 20%;
            bottom: 20%;
            border: 1px solid #fff;
        }

        .internaltitle {
            text-align: right;

            h5 {
                font-weight: bold;
                font-size: 35px;
                color: #fff;
                margin-top: 10px;
                border-bottom: 1px solid #fff;
                text-transform: uppercase;
                display: inline;
            }
        }

    }
}

#block_ludifica-store {

    .general-buttons {

        .avatars-button {
            filter: grayscale(1);
            pointer-events: none;

        }
    }

    #avatars-box {
        #avatars-list {
            max-height: 350px;
            margin-top: 20px;
            overflow: auto;

            .oneavatar {
                width: 150px;
                margin: 20px;
                background-color: #fff;
                border-radius: 40px;
                border: 1px solid #fff;
                position: relative;

                &:hover .info-box {
                    transform: scale(1);
                    border-radius: 40px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color: transparent;

                    a {
                        color: #7bfae3;
                        font-style: italic;
                        padding: 0;
                    }

                    .btn {

                        i {
                            color: #502585;
                            font-weight: bold;
                            font-size: 18px;
                        }

                        &.danger i {
                            color: #a9291b;
                        }

                        &:hover i {
                            color: #000;
                        }
                    }

                    .avatardescription {
                        overflow: auto;
                        top: 0;
                        position: absolute;
                        bottom: 39px;
                        margin: 0;
                        padding: 15px 10px;
                        background-color: rgba(20, 20, 20, .9);
                        border-radius: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                    }

                    .buttons-manager {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        text-align: center;
                        background-color: #fff;
                        display: flex;
                        padding: 3px 10px 0;
                        justify-content: space-around;
                        align-items: center;

                        button {
                            padding: 0;
                        }
                    }
                }

                &.inuse {
                    .used {
                        z-index: 2;
                        background: url('[[pix:theme|block_ludifica/sprite_icons]]') no-repeat -390px 0;
                        width: 34px;
                        height: 34px;
                    }
                }

                .avatarcontent {
                    background-color: #4b4099;
                    border-radius: 40px;
                    overflow: hidden;

                    .cost {
                        bottom: 5px;
                        top: unset;
                        left: 0;
                        right: 0;
                        text-align: center;
                        background-color: transparent;
                        color: #7bfae3;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }

                .avatarfooter {
                    overflow: hidden;
                    border-radius: 0 0 40px 40px;
                    padding: 8px;

                    .avatarname {
                        font-style: italic;
                        font-weight: bold;
                        font-size: 14px;
                        color: #4020a0;
                        text-align: center;
                        margin: 10px 0;
                    }

                    .notenabledalert {
                        background-color: #cc355c;
                        font-weight: bold;
                        font-size: 11px;
                        color: #fff;
                        text-align: center;
                        border-radius: 8px;
                        margin-bottom: 5px;

                        i {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

#block_ludifica-tickets {

    .general-buttons {

        .store-button {
            filter: grayscale(1);
            pointer-events: none;
        }
    }

    #tickets-box {
        #tickets-list {
            margin-top: 20px;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            max-height: 350px;

            .oneticket {
                background-color: #fff;
                margin: 0 20px 20px 0;
                border-radius: 40px;
                padding: 0;
                max-width: 450px;
                min-width: 350px;
                position: relative;

                .ticketcontent {
                    padding: 10px;
                    font-size: 11px;

                    strong,
                    em {
                        color: #4020a0;
                    }

                    .leftcol {
                        width: 110px;
                        padding-right: 10px;

                        .picture-box {
                            border: 2px solid #7bfae3;
                            width: 100px;
                            height: 100px;
                            border-radius: 30px;
                            background-size: cover;
                            margin: 0 0 10px 0;
                            background-position: center;
                            position: relative;

                            .count {
                                background-color: #dc476c;
                                font-weight: bold;
                                font-size: 13px;
                                color: #fff;
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                            }

                            .cost {
                                position: absolute;
                                bottom: 0;
                                top: unset;
                                left: 0;
                                right: 0;
                                text-align: center;
                                color: #7bfae3;
                                font-size: 18px;
                                font-weight: bold;
                                background-color: rgba(15, 28, 55, 0.6);
                                border-radius: 0 0 30px 30px;
                                line-height: 16px;
                                padding: 7px;
                            }
                        }
                    }

                    .ticketinfo {

                        h3 {
                            font-size: 20px;
                            color: #4020a0;
                        }

                        .moreinfo-ticket {
                            position: absolute;
                            right: 20px;
                            top: 5px;
                            cursor: pointer;

                            i {
                                color: #4db8d9;

                                &:hover {
                                    color: #000;
                                }
                            }
                        }

                        .ticketdescription {
                            max-height: 100px;
                            overflow: auto;
                            margin-bottom: 20px;
                        }
                    }

                    .ticketoptions {
                        padding: 0 5px 0 0;
                        margin: 10px 0 0;
                        width: 100%;
                        line-height: 12px;

                        > div {
                            margin-bottom: 5px;
                        }
                    }
                }

                .ticketfooter {
                    text-align: right;
                    padding: 5px 20px;

                    .btn {
                        padding: 2px 10px;
                    }
                }

                .notenabledalert {
                    background-color: #cc355c;
                    font-weight: bold;
                    font-size: 11px;
                    color: #fff;
                    text-align: center;
                    border-radius: 8px;
                    margin: 0 auto 5px;
                    max-width: 90%;

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

#page-blocks-ludifica-badges {

    .general-buttons {

        .badges-button {
            filter: grayscale(1);
            pointer-events: none;
        }
    }

    #badges-box {
        #badges-list {
            margin-top: 20px;
            overflow: auto;
            display: flex;
            flex-wrap: wrap;
            max-height: 350px;
            min-width: 327px;
        }
    }

    .badges_decoration {
        min-width: 365px;
        min-height: 325px;
        background: url('[[pix:theme|block_ludifica/badges]]') no-repeat center center;
        position: relative;
    }

    .onebadge {
        border: 1px solid #a9cfd6;
        max-width: 250px;
        min-width: 226px;
        border-radius: 20px;
        margin: 7px;
        padding: 0;
        overflow: hidden;
        height: 100%;

        > div {
            background-color: #3f1267e4;
            background-blend-mode: multiply;
            display: flex;
            flex-direction: column;
            padding: 15px;
            align-items: center;

            .badge_picture_ludifica {
                max-width: 100%;
            }

            .info-box {
                margin-top: 15px;
            }
        }
    }

    .more_badge_content {
        display: flex;

        a {
            background-color: #d5ddf5;
        }

        img {
            max-width: 189px;
        }
    }

    .badgebuttons {
        background-color: #fff;
        padding: 5px;
        border-radius: 20px;
        color: #650ca1;
        cursor: pointer;
        font-size: 10px;

        &:hover {
            background-color: #650ca1;
            color: #fff;
        }

        #moreinfo_ico {
            background: url('[[pix:theme|block_ludifica/sprite_icons]]') no-repeat;
            background-position: -328px -9px;
            display: inline-block;
            width: 19px;
            height: 17px;
            margin-bottom: -5px;
        }

        #share_ico {
            background: url('[[pix:theme|block_ludifica/sprite_icons]]') no-repeat;
            background-position: -557px -9px;
            display: inline-block;
            width: 19px;
            height: 17px;
            margin-bottom: -5px;
        }
    }

    .unavailable {
        filter: saturate(1);
    }

    .unavailable img {
        mix-blend-mode: multiply;
    }

    .unavailable .openshare_abierta {
        display: none;
    }

    .modal-body {

        h5 {
            color: #58595b;
        }
    }
}

#page-blocks-ludifica-badges .card-body {

    .list-group-item {
        border: none;

        > a {
            display: block;
            text-align: center;
            transform: rotate(0deg);
            transition: 0.1s;
            font-size: 40px;
            filter: drop-shadow(0 2px 1px #fff);

            &:hover {
                transform: rotate(2deg);
                filter: drop-shadow(-2px 2px 3px #31177f);
            }
        }
    }

    .badge_linkedin {
        background: url('[[pix:theme|block_ludifica/linkedin]]') no-repeat center center;
    }

    .badge_facebook {
        background: url('[[pix:theme|block_ludifica/facebook]]') no-repeat center center;
    }

    .badge_twitter {
        background: url('[[pix:theme|block_ludifica/twitter]]') no-repeat center center;
    }

}

/* Independent because is loaded into a dialogue. */
.modal-dialog {
    .codeslist {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            background-color: #eff0f7;
            color: #646363;
            border-radius: 10px;
            padding: 3px 10px;
            text-align: center;
            margin-bottom: 5px;
            font-style: italic;
            font-size: 15px;

            em {
                font-size: 10px;
                color: #cc355c;
                font-weight: bold;
            }
        }
    }

    .moreinfo {
        font-size: 12px;
        color: #604ba0;

        h3 {
            font-weight: normal;
            font-size: 17px;
            color: #715cad;
            text-align: center;
            margin-top: 10px;
        }
    }
}

.block_ludifica {
    .block_ludifica-content.MD {

        .playerstats {
            top: 5px;
            right: 10px;
        }

        .player_info {
            margin-bottom: 58px;
            margin-right: 153px;
            flex-wrap: nowrap;

            .avatar-box {
                width: auto;
            }

            .detailscol {
                margin: 50px 70px 0 0;
                width: auto;

                h2 {
                    font-size: 30px;
                    border-radius: 30px;
                    padding: 20px;
                }
            }
        }
    }
}

.block_ludifica,
#block_ludifica-tickets,
#block_ludifica-store,
#block_ludifica-badges {

    position: relative;

    .playerstats {
        position: absolute;
        top: 30px;
        right: 10px;
        display: flex;
        text-align: center;
        background-color: rgba(15, 28, 55, 0.6);
        padding: 3px 10px 0;
        border: 1px solid #7bfae3;
        border-radius: 30px;
        z-index: 1;

        > span {

            padding: 0 10px;
            font-size: 11px;
            color: #7bfae3;
            font-weight: 600;

            > i {
                display: block;
                background: url('[[pix:theme|block_ludifica/sprite_icons]]') no-repeat;
            }
        }

        .coins i {
            background-position: -162px 0;
            width: 33px;
            height: 30px;
        }

        .points i {
            background-position: -98px 0;
            width: 52px;
            height: 30px;
        }
    }

    .popup {
        display: none;
        background-color: #fff;
        font-size: 12px;
        color: #4020a0;
        border-radius: 3px;
        padding: 3px 10px;
        position: absolute;
        bottom: -30px;

        &::after {
            content: "";
            background-color: #fff;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(45deg);
            position: absolute;
            top: -5px;
            left: calc(50% - 5px);
            height: 10px;
            width: 10px;
        }
    }

}

#page-blocks-ludifica-avatars #region-main,
#page-blocks-ludifica-tickets #region-main,
#page-blocks-ludifica-badges #region-main {
    background: url('[[pix:theme|block_ludifica/back_store_desktop]]') no-repeat left top;
    background-size: cover;

    > .card {
        padding: 0;
    }
}

#page-user-profile .userprofile .description {
    display: none;
}

#page-blocks-ludifica-tickets,
#page-blocks-ludifica-avatars,
#page-blocks-ludifica-badges {
    .alertc-control {
        position: fixed;
        border: none;
        top: 20%;

        > div {
            width: 50%;
            margin: auto;
            text-align: center;
            padding: 70px 0;
            box-shadow: 0 0 14px #0f1c37;
            border-radius: 10px;
            font-size: 30px;
            font-weight: bolder;
            opacity: 0.95;
        }

        .alert-success {
            background-color: #9ad175;
            color: #406b24;
        }

        .alert-danger {
            background-color: #f92a82;
            color: #8b043e;
        }

        .alert-warning {
            background-color: #ffbd70;
            color: #a35700;
        }

        .alert-secondary {
            background-color: #4e4ec2;
            color: #fff;
        }
    }
}

@media (max-width: 900px) {

    #page-blocks-ludifica-tickets,
    #page-blocks-ludifica-avatars,
    #page-blocks-ludifica-badges {
        #region-main {
            padding: 0;
            background: #ddddf5;
            border-radius: 40px;

            > .card {
                padding: 0;
            }
        }
    }

    #block_ludifica-tickets,
    #block_ludifica-store,
    #block_ludifica-badges {
        flex-wrap: wrap;
        padding: 0;
        background: transparent;

        #tabs-box {
            min-width: unset;
            width: 100%;
            padding: 50px 60px;
            background: #c1c1eb url('[[pix:theme|block_ludifica/back_store_mobile]]') no-repeat center center;
            background-size: 90%;
            border-radius: 40px;

            &::before {
                width: 340px;
                top: 10px;
            }

            &::after {
                width: 340px;
            }

        }

        #tickets-box,
        #avatars-box,
        #badges-box {
            margin: 0 0 30px 0;
            padding: 0 5px;

            .internaltitle {
                text-align: center;
                margin-top: 20px;

                h5 {
                    font-weight: bold;
                    font-size: 24px;
                    color: #4b4b8c;
                    text-align: center;
                    border-color: #4b4b8c;
                }
            }
        }
    }

    #block_ludifica-store {
        #avatars-box {
            #avatars-list {
                max-height: unset;
                justify-content: space-evenly;

                .oneavatar {
                    margin: 10px;
                }
            }
        }
    }

    #block_ludifica-tickets {
        #tickets-box {
            #tickets-list {
                max-height: unset;
            }
        }
    }

    #page-blocks-ludifica-badges {

        .badges_decoration {
            display: block;
            margin: auto;
        }

        #badges-box {
            #badges-list {
                overflow: initial;
                max-height: none;
                justify-content: center;
            }
        }

        #block_ludifica-badges {
            background: #c1c1eb url('[[pix:theme|block_ludifica/back_store_mobile]]') no-repeat;
            background-position-y: 39px;
        }

        #badges-box {
            margin: 0 0 80px 0;
            padding: 0 5px;
        }
    }

    #page-blocks-ludifica-tickets,
    #page-blocks-ludifica-avatars,
    #page-blocks-ludifica-badges {
        .alertc-control {

            > div {
                width: 90%;
            }
        }
    }

    .block_ludifica {

        .ludifica_ranking {

            .table_container {
                margin: auto;
                margin-top: 230px;
                max-width: 90%;
            }

            > .ranking_decoration {
                margin: auto;
                width: 100%;
                margin-top: 50px;
                right: 0;
            }
        }
    }

    .badges-box {
        margin-bottom: 70px;
    }
}
