#top-footer {
    background-color: #e3e7f5;
    padding: 0;

    h3 {
        color: $brand-primary;
    }

    ul {
        list-style: none;
    }

    .contact ul li {
        font-size: 1.2rem;
        margin-bottom: 4px;

        i {
            margin-right: 3px;
            min-width: 20px;
            text-align: center;
        }
    }

    .footer_content {
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        > div {
            flex-grow: 1;
            padding: 20px;
            max-width: 45%;
        }
    }
}

.footer_about {
    text-align: center;
    background-color: linear-gradient(90deg,#4e4ec2,#8b95ff);
    padding: 10px 0;
    color: #fff;
}

#page-footer {
    text-align: center;
    min-height: inherit;
    color: #e3e7f5;
    background-color: $headings-color;

    a {
        color: #666e9c;
    }

    .madewithmoodle {
        margin-bottom: .5rem;
        p {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 0;
            display: inline-block;
        }

        img {
            max-width: 100px;
            margin-top: -12px;
        }
    }
    .madeby {
        font-size: 12px;
        text-align: right;
    }
}
