{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/avatars

    This template renders the template content area for a resource.

    Example context (json):
    {
        "avatars": [],
        "baseurl": "https://moodle_wwwroot_url"
    }
}}

<div id="block_ludifica-store">

    <div id="tabs-box">
    {{>block_ludifica/storetabs}}
    </div>

    <div id="avatars-box">
        <div class="internaltitle">
            <h5> {{#str}} store, block_ludifica {{/str}} </h5>
        </div>
        <div id="avatars-list" class="row">
        {{#avatars}}
            <div id="avatar-{{id}}" class="oneavatar {{^userhas}}usernothas{{/userhas}} {{#userhas}}userhas{{/userhas}} {{#inuse}}inuse{{/inuse}}">
                <div>
                    <i class="used"></i>
                    <div class="avatarcontent">
                        <div class="picture-box">
                            <img src="{{uri}}" alt="{{name}}" />
                            <div class="cost">
                                {{#str}} numcoins, block_ludifica, {{cost}} {{/str}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="info-box">
                        <div class="avatardescription">
                            {{description}}
                        </div>
                        <div class="buttons-manager">
                        {{^notenabledtext}}
                            {{^userhas}}
                                <button type="button" class="btn" data-action="buy" data-id="{{id}}" title="{{#str}} buy, block_ludifica {{/str}}">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            {{/userhas}}
                            <button type="button" class="btn" data-action="use" data-id="{{id}}" title="{{#str}} use, block_ludifica {{/str}}">
                                <i class="fa fa-address-card"></i>
                            </button>
                        {{/notenabledtext}}
                        {{#canedit}}
                            <a href="{{baseurl}}/blocks/ludifica/avatar_edit.php?id={{id}}" class="btn" title="{{#str}} edit {{/str}}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{{baseurl}}/blocks/ludifica/avatars.php?delete={{id}}&sesskey={{sesskey}}" class="btn danger" title="{{#str}} delete {{/str}}">
                                <i class="fa fa-minus-circle"></i>
                            </a>
                        {{/canedit}}
                        </div>
                    </div>
                    <div class="avatarfooter">
                        <div class="avatarname">
                            {{name}}
                        </div>
                        {{#notenabledtext}}
                        <div class="notenabledalert">
                            <i class="fa fa-exclamation-triangle"></i> {{notenabledtext}}
                        </div>
                        {{/notenabledtext}}
                    </div>
                </div>
            </div>
        {{/avatars}}
        {{^avatars}}
            <p>
                {{#str}} noavatars, block_ludifica {{/str}}
            </p>
        {{/avatars}}
        </div>
        {{#canedit}}
        <div>
            <a href="{{baseurl}}/blocks/ludifica/avatar_edit.php" class="btn btn-primary">{{#str}} avatarnew, block_ludifica {{/str}}</a>
        </div>
        {{/canedit}}
    </div>
</div>