{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/buttonsbar

    This template renders the template content area for a resource.

    Example context (json):
    {
        "player": {
            "fullname": "Pepito Perez",
            "avatarurl": "https://moodle_wwwroot_url/some_image"
        },
        "baseurl": "https://moodle_wwwroot_url"
    }
}}

<div class="general-buttons">

    {{#hasdynamichelps}}
    <a class="dynamichelp-button">{{#str}} dynamichelp_button, theme_abierta {{/str}}</a>
    {{/hasdynamichelps}}

    <a href="{{baseurl}}/blocks/ludifica/badges.php" class="badges-button">{{#str}} badges_button, theme_abierta {{/str}}</a>

    {{#hasranking}}
        <div class="ranking_buttons">

            {{#haslastmonth}}
                <a class="ranking_last-button">{{#str}} ranking_last, theme_abierta {{/str}}</a>
            {{/haslastmonth}}

            {{#hastopbycourse}}
                <a class="ranking_course-button">{{#str}} ranking_course, theme_abierta {{/str}}</a>
            {{/hastopbycourse}}

            {{#hastopbysite}}
                <a class="ranking_site-button">{{#str}} ranking_site, theme_abierta {{/str}}</a>
            {{/hastopbysite}}

            <a>{{#str}} ranking_button, theme_abierta {{/str}}</a>

        </div>
    {{/hasranking}}

    <a href="{{baseurl}}/blocks/ludifica/avatars.php" class="avatars-button {{#current}}current-user{{/current}}">{{#str}} avatars, block_ludifica {{/str}}</a>
    <a href="{{baseurl}}/blocks/ludifica/tickets.php" class="store-button {{#current}}current-user{{/current}}">{{#str}} store, block_ludifica {{/str}}</a>


    {{#layoutavatars}}
        <a href="{{baseurl}}" class="home-button">{{#str}} home, theme_abierta {{/str}}</a>
    {{/layoutavatars}}

    {{#layouttickets}}
        <a href="{{baseurl}}" class="home-button">{{#str}} home, theme_abierta {{/str}}</a>
    {{/layouttickets}}

    {{#layoutbadges}}
        <a href="{{baseurl}}" class="home-button">{{#str}} home, theme_abierta {{/str}}</a>
    {{/layoutbadges}}


    {{#ownprofile}}
        <a class="home-button">{{#str}} home, theme_abierta {{/str}}</a>
    {{/ownprofile}}

</div>